<div class="demo-container">
    
    <div class="user-container">
        <div class="edit-icon">
            <img src="../../assets/images/edit.svg" alt="edit">
        </div>
        <div class="info-container">
            <div class="image-container">
                <img class="image" src="../../assets/images/demoProfile.png" alt="profile picture">
            </div>
            <div class="user-info">
                <h4>John Doe</h4>
                <div class="output">
                    <h4>Footprint:</h4>
                    <p>50 tons GHG/year</p>
                </div>
        </div>
    </div>
    </div>

    <div class="vehicle-container">
        <div class="edit-icon">
            <img src="../../assets/images/edit.svg" alt="edit">
        </div>
        <div class="info-container">
            <div class="image-container">
                <img class="vehicle-image" src="../../assets/images/SUV.svg" alt="profile picture">
            </div>
                <div class="monthly-output">
                    <h4>Monthly Output:</h4>
                    <p>50 tons GHG/year</p>
                </div>
    </div>
    </div>

    <div class="home-container">
        <div class="edit-icon">
            <img src="../../assets/images/edit.svg" alt="edit">
        </div>
        <div class="info-container">
            <div class="home-image-container">
                <img class="home-image" src="../../assets/images/house.svg" alt="profile picture">
            </div>
                <div class="home-output">
                    <h4>Monthly Output:</h4>
                    <p>50 tons GHG/year</p>
                </div>
    </div>
    </div>


</div>
