<div class="demo-container">
    <div class="user-container">
        <div class="info-container">
            <div class="image-container">
                <img class="image" src="../../assets/images/demoProfile.png" alt="profile picture">
            </div>
            <div class="user-info">
                <h4>John Doe</h4>
            <div class="output-container">
                <h4>
                    Footprint
                </h4>
                <p>50 ton GHG/year</p>
            </div>
        </div>
    </div>
    </div>
</div>
