.login-container{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.login-form{
    background-color: rgba($color: #97EE62, $alpha:.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    width: 275px;
    height: 450px;
    border-radius: 50px;
}

.inputs-container{
    display:flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.inputs{
    border: none;
    border-radius: 50px;
    height: 1.5rem;
    width: 165px;
    padding: 0px 10px;
}

.login-btn{
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    background-color: #027200;
    color: white;
    margin-top: .5rem;
}
.submitted-btn{
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    background-color: #404440;
    color: white;
    margin-top: .5rem;
}
.title{
    margin: 0;
}

.logo{
    height: 150px;
}

.signup{
    text-decoration: none;
    color: #623993;
    margin-top: 16px;
}

.not-valid{
    &__p{
        margin: 0;
    }
}
.loading{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-animation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: 5px solid #97EE62;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

@keyframes pulse{
    40% {
        transform:  scale(1.1);
        box-shadow: 0 0 0 20px rgba(151, 238, 98, .5);
    }
    80% {
        transform:  scale(1);
        box-shadow: 0 0 0 40px rgba(151, 238, 98, 0);
    }

    100% {
   
        box-shadow: 0 0 0 20px rgba(151, 238, 98, 0);
    }
}