<div class="login-container">
    <div class="login-form">
        <div class="logo-container">
            <img class="logo" src="../../assets/images/plant.svg" alt="logo">
        </div>
        <div class="inputs-container">
            <h4 class="title">Sign In</h4>
            <div>
                <input class="inputs" placeholder="username" type="text" name="username" [(ngModel)]="email">
            </div>
            <div>
                <input class="inputs" placeholder="password" type="password" name="password" [(ngModel)]="password">
            </div>  
        </div>
        
        <div *ngIf="isValid == false" class="not-valid">
            <p class="not-valid__p">{{warningMessage}}</p>
        </div>
        <div>
            <button class="login-btn" (click)="validateLogin()">Sign In</button>
        </div>
        <div class="signup">
            <a class="signup" routerLink="/signup">Need to Sign Up?</a>
        </div>
            
    </div>
</div>
