.api-container{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    @media screen and (max-width: 1040px) {
        margin-left: 0;
        align-items: center;
    }
}
.info{
    width: 700px;
    font-size: 20px;
    @media screen and (min-width: 500px) and (max-width: 1040px) {
        width: 500px;
    }
    @media screen and (max-width: 500px) {
        width: 350px;
    }
}
.request-info{
    width: 700px;
    font-size: 16px;
    margin-bottom: 50px;
    @media screen and (min-width: 500px) and (max-width: 1040px) {
        width: 500px;
    }
    @media screen and (max-width: 500px) {
        width: 350px;
    }
}

.request-info li{
    margin-bottom: 10px;
}

.repo{
    text-decoration: none;
    color: #623993;
}