.container{
    display:flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    @media screen and (max-width: 625px) {
       display: none;
    }
}
.logo{
    align-self: center;
    margin: .5rem;
}

.nav-links-container{
    margin-right: 2rem;
}

.nav-links{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    
}

.link{
    margin-right: 5rem;
    padding-top: 5px;
}

.li-link{
    text-decoration: none;
    color: black;
}

.btn{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #97EE62;
    border-radius: 50px;
}

.btn-link{
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.active-link{
    border-top: 1px solid black;
}

.mobile-header-container{
    display: none;
    @media screen and (max-width: 625px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 25px;
        background-color: #C6F19B;
        position: sticky;
        top: 0;
    }
}
.mobile-navbar-container{
    display: none;
    @media screen and (max-width: 625px) {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 50px;
        background-color: #C6F19B;
        position: fixed;
        bottom: 0;
    }
}

.home-section, .demo-section, .api-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    width: 25%;
}

.signin-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.sign-out-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.homeIcon{
    width: 30px;
    height: 27px;
}

.apiIcon{
    width: 30px;
    height: 30px;
}

.signinIcon{
    width: 25px;
    height: 25px;
}
.signOutIcon{
    width: 25px;
    height: 25px;
}
.demoIcon{
    width: 30px;
    height: 30px;
}

.text{
    margin: 0;
}

.mobile-active-link{
    background-color: #8AA56E;
}