<div class="login-container">
    <div class="login-form">
        <div class="logo-container">
            <img class="logo" src="../../assets/images/plant.svg" alt="logo">
        </div>
        <div class="inputs-container">
            <h4 class="title">Sign In</h4>
        <div>
        <input class="inputs" placeholder="first name" type="text" name="firstName" [(ngModel)]="firstName">
        </div>
        <div>
        <input class="inputs" placeholder="last name" type="lastName" name="lastName" [(ngModel)]="lastName">
        </div>
        <div>
        <input class="inputs" placeholder="email" type="text" name="username" [(ngModel)]="email">
        </div>
        <div>
        <input class="inputs" placeholder="password" type="password" name="password" [(ngModel)]="password">
        </div>
    </div>
        <div>
        <button class="login-btn" (click)="validateLogin()">Sign In</button>
        </div>
        <div class="signup">
        <a class="signup" routerLink="/signin">Need to Sign In?</a>
        </div>
        
    </div>
</div>
