<div *ngIf="submitted === true" class="loading">
    <div class="loading-animation">Loading</div>
</div>

<div *ngIf="submitted === false" class="login-container">
    <div class="login-form">
        <div class="logo-container">
            <img class="logo" src="../../assets/images/plant.svg" alt="logo">
        </div>
        <div class="inputs-container">
            <h4 class="title">Sign Up</h4>
            <div>
                <input class="inputs" placeholder="first name" type="text" name="firstName" [(ngModel)]="firstName">
            </div>
            <div>
                <input class="inputs" placeholder="last name" type="lastName" name="lastName" [(ngModel)]="lastName">
            </div>
            <div>
                <input class="inputs" placeholder="username" type="text" name="username" [(ngModel)]="email">
            </div>
            <div>
                <input class="inputs" placeholder="password" type="password" name="password" [(ngModel)]="password">
            </div>
        </div>

        <div *ngIf="isValid == false" class="not-valid">
            <p class="not-valid__p">{{warningMessage}}</p>
        </div>

        <div>
        <button [ngClass]="submitted ? 'submitted-btn' : 'login-btn'" [disabled]="submitted" (click)="validateLogin()">Sign Up</button>
        </div>
        <div class="signup">
        <a class="signup" routerLink="/signin">Need to Sign In?</a>
        </div>
        
    </div>
</div>
