.about-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.about-text{
    width: 590px;
    height: 200px;
    margin-left: 5rem;
}

.image{
    width: 460px;
    height: 300px;
}