<div class="home-container">
    <div class="about-container">
        <div><img class="image" src="../../assets/images/graph.svg" alt=""></div>
        <div class="about-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vehicula ipsum a arcu cursus vitae congue. Vitae suscipit tellus mauris a diam maecenas. Risus ultricies tristique nulla aliquet enim tortor at auctor. Dignissim enim sit amet vessa vitae tortor condimentu</p></div>
    </div>
    <div class="example-container">
        <div class="imageContainer">
            <img src="../../assets/images/plant.svg" alt="plant">
        </div>
        <div class="chart-container">
            <app-chart></app-chart>
        </div>
    </div>
</div>
