<div class="home-container">
    <div class="about-container">
        <div><img class="image" src="/assets/images/graph.svg" alt=""></div>
        <div class="about-text"><p class="home-info">Footprint is a carbon-tracking app for individuals. The user will have the option to add their vehicle or home carbon tracking. Footprint tracks the output of your carbon on a month-to-month basis. Also, you will have many opportunities to reduce your footprint through the recommendation section, which will provide links to purchase a carbon-reducing product. The tech stack used to build the project is Angular, Typescript for the Frontend, and Spring Boot Java for the Backend. I hope you enjoy it!</p></div>
    </div>
    <div class="example-container">
        <div class="imageContainer">
            <img src="/assets/images/plant.svg" alt="plant">
        </div>
        <div class="chart-container">
            <app-chart [monthlyStorage]="GHGStorage" [totalFootprint]="footprint" [userJoinedDate]="joinDate"></app-chart>
        </div>
    </div>
</div>
