.demo-container{
    display: flex;
    flex-direction: column;
}

.header-container{
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: space-around;
}

.user-container, .vehicle-container, .home-container, .offsetter-container, .recommendations-container{
    background-color: rgba($color: #97EE62, $alpha: .65);
    width: 300px;
    height: 350px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.edit-user{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.update-user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__width{
        width: 180px;
    }

    &__font{
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.user-btns{
    margin-bottom: 1rem;
}

.image{
    object-fit: contain;
    width: 125px;
    height: 125px;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.user-info h4{
    margin: 0;
}

.output{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.output p{
    margin: 10px;
}

.edit-icon{
    align-self: flex-end;
    margin-right: 1rem;
    margin-top: 1rem;
}

.home-image{
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
}

.vehicle-image{
    width: 150px;
    height: 125px;
}

.chart{
    align-self: center;
    margin-top: 5rem;
}

.vehicle-section, .home-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-arrow, .right-arrow{
    width: 30px;
}

.offsetter-section{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.offsetter-header, .recommendations-header{
    align-self: center;
}
.list-item{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.offsetter-list-item{
    display: flex;
}

.add-vehicle{
    display: flex;
    height: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.add-button{
    width: 90px;
    height: 80px;
}

.vehicle-type-header{
   margin-right: 1rem;
}

.vehicle-type, .home-type{
    display: flex;
    align-items: center;
}

.vehicle-mpg{
    margin-top: 1rem;
    &__bold{
        font-weight: bold;
    }
}

.home-sqft{
    &__bold{
        font-weight: bold;
    }
}

.btns{
    margin-top: 1rem; 
}

.btn{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #027200;
    border-radius: 50px;
    color: white;
    margin-left: 10px;
}

.edit-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.edit-header{
    margin: 0;
}
.offsetter-icon{
    margin-right: 0.5rem;
}
