<div *ngIf="vehicle != undefined" class="demo-container">
    <div class="header-container">
        
        <div class="user-container">
            <div class="edit-icon">
               <img src="../../assets/images/edit.svg" alt="edit">
            </div>
            <div class="info-container">
                <div class="image-container">
                    <img class="image" src="../../assets/images/demoProfile.png" alt="profile picture">
                </div>
                <div class="user-info">
                    <h4>{{user.first_name}} {{user.last_name}}</h4>
                    <div class="output">
                        <h4>Footprint:</h4>
                        <p>{{user.footprint}} tons GHG/year</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div *ngIf="vehicle?.length == 0" class="vehicle-container">
            <div class="add-vehicle">
                <h2>Add Vehicle</h2>
                <img class="add-button" src="../../assets/images/AddButton.svg" alt="add vehicle">
            </div>
        </div>
        
        <div class="vehicle-container">
            <div class="edit-container">
                <h2 class="edit-header">Add Vehicle</h2>
                <div class="vehicle-type">
                    <h4 class="vehicle-type-header">Type of Vehicle:</h4>
                    <div class="vehicle-type-inputs">
                        <div>
                            <input type="radio" name="vehicle">
                            <label for="motorcycle">Motorcycle</label>
                        </div>
                        <div>
                            <input type="radio" name="vehicle">
                            <label for="suv">SUV</label>
                        </div>
                        <div>
                            <input type="radio" name="vehicle">
                            <label for="car">Car</label>
                        </div>
                        <div>
                            <input type="radio" name="vehicle">
                            <label for="truck">truck</label>
                        </div>
                    </div>
                </div>
                <div class="vehicle-mpg">
                        <label for="mpg">MPG: </label>
                        <input type="number" step="0.01" name="vehicle" id="mpg">
                </div>
                
                <div class="btns">
                    <button class="btn">Add</button>
                    <button class="btn">Cancel</button>
                </div>
            </div>
        </div>

        <div *ngIf="vehicle.length != 0" class="vehicle-container">
            <div class="edit-icon">
                <img src="../../assets/images/edit.svg" alt="edit">
            </div>
            
            <div class="vehicle-section">
                <div class="leftArrow">
                    <img class="left-arrow" src="../../assets/images/leftArrow.svg" alt="">
                </div>
                <div class="info-container">
                    <div class="image-container">
                        <img class="vehicle-image" src="../../assets/images/SUV.svg" alt="profile picture">
                    </div>
                    <div class="monthly-output">
                        <h4>Monthly Output:</h4>
                        <p>50 tons GHG/year</p>
                    </div>
                </div>
                <div class="leftArrow">
                    <img class="right-arrow" src="../../assets/images/rightArrow.svg" alt="">
                </div>
            </div>
        </div>
    
        <div *ngIf="home?.length == 0" class="home-container">
            <div class="add-vehicle">
                <h2>Add Home</h2>
                <img class="add-button" src="../../assets/images/AddButton.svg" alt="add home">
            </div>
        </div>
        <div *ngIf="home.length != 0" class="home-container">
            <div class="edit-icon">
                <img src="../../assets/images/edit.svg" alt="edit">
            </div>
            
            <div class="home-section">
                <div class="leftArrow">
                    <img class="left-arrow" src="../../assets/images/leftArrow.svg" alt="">
                </div>
                <div class="info-container">
                    <div class="image-container">
                        <img class="home-image" src="../../assets/images/house.svg" alt="profile picture">
                    </div>
                    <div class="monthly-output">
                        <h4>Monthly Output:</h4>
                        <p>50 tons GHG/year</p>
                    </div>
                </div>
                <div class="rightArrow">
                    <img class="left-arrow" src="../../assets/images/rightArrow.svg" alt="">
                </div>
            </div>
        </div>

        <div class="vehicle-container">
            <div class="edit-container">
                <h2 class="edit-header">Add Home</h2>
                <div class="vehicle-type">
                    <h4 class="vehicle-type-header">Type of Home:</h4>
                    <div class="vehicle-type-inputs">
                        <div>
                            <input type="radio" name="home">
                            <label for="house">House</label>
                        </div>
                        <div>
                            <input type="radio" name="home">
                            <label for="mansion">Mansion</label>
                        </div>
                        <div>
                            <input type="radio" name="home">
                            <label for="Apartment">Apartment</label>
                        </div>
                    </div>
                </div>
                <div class="vehicle-mpg">
                        <label for="mpg">SQFT: </label>
                        <input type="number" step="0.01" name="vehicle" id="mpg">
                </div>
                
                <div class="btns">
                    <button class="btn">Add</button>
                    <button class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    
        <div class="chart">
            <app-chart></app-chart>
        </div>
    
        <div class="offsetter-section">
    
            <div class="offsetter-container">
                <div class="offsetter-header">
                    <h4>OFFSETTERS</h4>
                </div>
                    <div class="list-item" *ngFor="let x of offsetters">
                        <div class="offsetter-list-item">
                            <img src="../../assets/images/minus.svg" alt="remove offsetter">
                            <p class="offsetter-name">
                                Succulent
                            </p>
                        </div>
                        <div class="offsetter-ghg-list-item">
                            <p class="offsetter-ghg">-30 GHG/Year</p>
                        </div>
                    </div>
                
            </div>
    
                
                <div class="recommendations-container">
                    <div class="recommendations-header">
                        <h4>RECOMMENDATIONS</h4>
                    </div>
                    <!--change div names-->
                    <div class="list-item" *ngFor="let x of offsetters">
                        <div class="offsetter-list-item">
                            <img src="../../assets/images/add.svg" alt="remove offsetter">
                            <p class="offsetter-name">
                                Solar
                            </p>
                        </div>
                        <div class="offsetter-ghg-list-item">
                            <p class="offsetter-ghg">-30 GHG/Year</p>
                        </div>
                    </div>  
                </div>
    
    </div>
    
    </div>
    
    